{% extends 'music/base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data">
                <h2 class="text-center">Login</h2>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Log in</button>
                </div>
                <a class="text-muted" href="#">Don't have account, register now?</a>
                <br>
                <a class="text-muted" href="{% url 'password_reset' %}">Forgot your email or password?</a>
            </form>
        </div>
    </div>
</div>

    {% endblock %}